# AI Service
API_KEY_GENERATE=your_google_gemini_api_key_here

# Server Configuration
NODE_ENV=dev
PORT=4000

# Worker Configuration
ENABLE_WORKER=true

# Redis Configuration (Required for Queue)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Database Configuration
DEV_DB_HOST=localhost
DEV_DB_USER=db_user
DEV_DB_PORT=5432
DEV_DB_PASSWORD=db_password
DEV_DB_NAME=nutritiondb

# Production Database Configuration (Optional)
PROD_DB_HOST=localhost
PROD_DB_USER=db_user
PROD_DB_PORT=5432
PROD_DB_PASSWORD=db_password
PROD_DB_NAME=nutritiondb